# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DiscordMotivationBot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\chris\RiderProjects\discord-motiviation-bot\.idea\.idea.DiscordMotivationBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
